.custom-datepicker {
    background-color: white !important;
    color: black !important;
  }
  
  .react-datepicker__input-container input {
    background-color: white !important;
    color: black !important;
  }
  
  .react-datepicker {
    background-color: white !important;
    color: black !important;
  }